<html>
<head>
    <meta charset="UTF-8">
    <title>系统主页</title>
    <link rel="stylesheet" type="text/css" href="../static/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/pagination.css">
</head>
<body>
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li><a>网操互联网脚本系统</a></li>
                <li><a href="backlogin">登录</a></li>
                <li><a href="backregister">注册</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container clearfix">
        <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <ul class="sub-menu">
                       <li><a href="addbook">PON脚本</a></li>
                        <li><a href="deletebook">PON脚本</a></li>
                        <li><a href="changebook">PON脚本</a></li>
                        <li><a href="querybook">PON脚本</a></li>
                        <li><a href="borrowrecord">PON脚本</a></li>
                        <li><a href="readerinfor">PON脚本</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--/sidebar-->

    <div class="main-wrap">

        <div class="search-wrap">
            <!--用于查询得表单-->
            <div class="search-content">
                <form method="POST" action="/querybook" id="searchForm" enctype="multipart/form-data">
                    <input type="hidden" name="type" value="search">
                    <table class="search-tab">
                        <tr>
                            <th width="70">设备IP:</th>
                            <td><input  name="IP"  id="IP" value="{{ IP }}"></td>
                              <th width="70">操作:</th>
                            <td>
                                <select name="os">
                                    {% for operter in operters %}
                                     <option value="{{operter}}">{{operter}}</option>
                                    {% endfor %}
                                </select>
                            <td>
                            <td> <INPUT  style="margin-left: 30px " TYPE=submit VALUE="查询设备"></td>
                            <tr>
                                <td>
                                    <input type="file" name="file" accept=".xls" value="请上传Excel文件">
                                    <input type="submit" value="导入" class="btn_search">
                                </td>
                            </tr>
                        </tr>
                    </table>
                </form>
            </div>
        </div>


        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr id="col-title">
                            <th>设备IP:</th>
                            <th>登录情况</th>
                            <th>命令执行结果</th>
                            <th>详细日志</th>
                        </tr>
                         {% for data in datas %}
                          <tr>
                            <td>{{ data.IP_Address }}</td>
                            <td>{{ data.Login_Status }}</td>
                            <td>{{ data.Results }}</td>
                            <td>{{ data.Log }}</td>
                          </tr>
                          {% endfor %}
                    </table>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>
</body>
</html>